*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#f4f4f4;

font-family:

Inter,

Segoe UI,

Arial,

sans-serif;

color:#161616;

overflow:hidden;

}

button{

cursor:pointer;

transition:.25s;

}

button:hover{

transform:translateY(-2px);

}

a{

text-decoration:none;

}